@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode */
:root {
  --primary: #ffffff;
  --secondary: #000000;
  --tertiary: #808080;
}

/* Dark mode */
.dark {
  --primary: rgb(0, 0, 0);
  --secondary: #ffffff;
  --tertiary:rgb(88, 87, 87);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-tertiary {
  color: var(--tertiary);
}

.border-primary {
  border-color: var(--primary);
}

.border-secondary {
  border-color: var(--secondary);
}
